@import url('https://fonts.googleapis.com/css?family=Roboto|Unica+One');

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  background: #f6f6f6;
  color: #333;
}

* {
  box-sizing: border-box;
}

button, i {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, input, textarea {
  font-family: 'Roboto', sans-serif;
}

ul, ol, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #990100; 
}

header h1 {
  font-size: 4rem;
}

header {
  height: 80px;
  line-height: 80px;
  padding: 0 .25rem;
  background: transparent;
  font-family: 'Unica One', cursive;
  text-transform: lowercase;
}

header::before {
  top: 0;
  height: 80px;
  background: #990100;
}

footer {
  background: transparent;
  color: #fff;
  height: 40px;
  line-height: 40px;
  padding: 0 .25rem;
  overflow: hidden;  
}

footer::before {
  height: 40px;
  background: #333;
}

footer > div {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

header::before, footer::before {
  display: block;
  position: absolute;
  content: '';
  width: 100vw;
  left: 0;
  z-index: -1;
}

header {
  display: grid;
  grid-auto-flow: column;
}

header > a,
header > a:first-of-type:hover {
  color: #fff
}

header > a {
  height: 80px;
}

header > a:first-of-type {
  justify-self: start;
}

header i.material-icons {
  justify-self: end;
  align-self: center;
  color: #fff;
  font-size: 3.5rem;
  cursor: pointer;
}

header i.material-icons:hover {
  color: #f7b538;
}

span.tooltip > span.visible {
  cursor: pointer;
}

span.tooltip > span.visible:hover {
  color: #b90504;
}

span.tooltip > span.hidden {
  position: absolute;
  background: #b90504;
  color: #fff;
  padding: .25rem;
}

.app_name {
  color: #910000;
  font-weight: bold;  
}

.popup {
  display: grid;
  position: fixed;
  background: #f7b538;
  color: #333;
  padding: .5rem;
  border-radius: 4px;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 1px 3px #333;
  grid-template-columns: auto;
  grid-column-gap: .25rem;
  align-items: center;
}

.popup i {
  cursor: pointer;
  justify-self: end;
}

.popup i:hover {
  color: #b90504;
}

.popup.big_popup {
  top: calc(80px + 1rem);
  background: #e8e8e8;
  width: 60%;
  max-width: 600px;
  z-index: 1;
  padding: 0;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
}

.popup.big_popup > .header,
.popup.big_popup > .contents_wrapper {
  padding: .5rem;
}

.popup.big_popup > .header  {
  background: #f7b538;
}

.popup.big_popup > .contents_wrapper {
  text-align: justify;
  align-self: start;
}

.contents_wrapper > .contents {
	min-height: 19px;
}

.popup.big_popup  div[contentEditable="true"]:focus {
  outline: none;
}

.popup.big_popup > button.save {
  justify-self: center;
  margin: .5rem 0;
}

.position_absolute {
  position: absolute;
}

.grid {
  display: grid;
}

.grid.grid_horizontal {
  grid-auto-flow: column;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-top-75 {
  margin-top: .75rem;
}

.margin-right-75 {
  margin-right: .75rem;
}

.margin-bottom-75 {
  margin-bottom: .75rem;
}

.margin-left-75 {
  margin-left: .75rem;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.font_small {
  font-size: .80rem;
}

.font_large {
  font-size: 1.25rem;
}

.inline {
  display: inline;
}

#main_container {
  width: 90%;
  min-height: 100%;
  max-width: 960px;
  margin: 0 auto;
  grid-template-rows: 80px auto 40px;
}

#page_contents {
  padding: 1rem .5rem;
  align-self: start;
  position: relative;
}

#page_contents > h2 {
  color: #333;
  padding-bottom: 1rem;
}

a, input, button {
  outline: none !important;
}

input {
  border-radius: 4px;
  border: 1px solid #333;
}

input:hover, input:focus {
  border-color: #b90504;
}

button {
  border: none;
  font-size: 1rem;
  padding: .25rem .5rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #b90504;
}

@media screen and (max-width: 767px) {
  /*
  .popup {
    width: 90%;
  }
  */
}

@media screen and (min-width: 768px) {
  .popup {
    max-width: 100%;
  }
}

/* 
 COLORS
  #f6f6f6
  #e8e8e8
  #333
  #990100
  #b90504
*/