#error div:first-of-type {
  grid-auto-flow: column;
  justify-content: center;
  margin-bottom: 10px;
  grid-column-gap: 4px;
}

#error div:first-of-type span {
  align-self: center;
}

#error div:nth-of-type(2) {
  line-height: 1.25;
}

#download_btns {
  grid-template-columns: repeat(8, auto);
}

#goto_todoapp {
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  justify-content: start;
  align-items: center;
  grid-auto-flow: column;
  grid-column-gap: 4px;
}

#goto_todoapp:hover span:first-of-type {
  color: #555;
}

#schedule_exists {
  grid-row-gap: 4px;
}

#schedule_exists .nice_btns {
  justify-content: center;
}

#schedule_exists > span:first-of-type {
  padding-right: 30px;
  text-align: justify;
}