header {
  height: 50px;
  background: #709775;
  display: grid;
  grid-auto-flow: column;
}

header > * {
  align-self: center;
  padding: 4px;
}

header > h1 {
  font-family: 'Nova Square', cursive;
  font-weight: normal;
  margin: 0;
  font-size: 32px;
  color: #fff;
}


header .todoapp_link {
  font-size: 22px;
  display: grid;
  align-content: center;
}