#grid_of_notes {
  margin: 1rem 0;
  grid-gap: 1rem;
  justify-content: center;
  justify-self: center;
}

@media screen and (min-width: 480px) {
  #grid_of_notes {
    grid-template-columns: auto auto;
  }
}

@media screen and (min-width: 721px) {
  #grid_of_notes {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (min-width: 960px) {
  #grid_of_notes {
    grid-template-columns: auto auto auto auto;
  }
}