

#login_form {
  grid-template-columns: auto 1fr;
  grid-row-gap: 1rem;
  justify-items: start;
  align-items: center;
  grid-column: 1 / 2;
}

#login_form button {
  margin-right: 1rem;
  justify-self: end;
  grid-column: 2;
}

#login_form input[type="submit"] {
  display: none;
}

#login_form input {
  width: calc(100% - 2rem);
  font-size: 17px;
  padding: .25rem;
  margin: 0 1rem;
}

#wanna_sign_up {
  text-align: right;
}

@media screen and (max-width: 767px) {
  #wanna_sign_up {
    margin: 1.5rem 1rem 0 0;
  }
}

@media screen and (min-width: 768px) {
  #page_contents {
    grid-template-columns:  1fr 1fr;
  }

  #wanna_sign_up {
    grid-column: 2;
    grid-row: 1;
  }
 
  .login-signin.grid {
    grid-template-columns: 1fr 1fr;
  }
}