#sign_up_form {
  grid-template-columns: auto 1fr;
  grid-gap: .5rem 1rem;
  align-items: center;
}

#sign_up_form input {
  font-size: 1rem;
  padding: .25rem;
}

#sign_up_form input.empty {
  background: rgba(145, 0, 0, .25);
  border-color: #910000;
}

#sign_up_form .form_caption {
  font-size: .8rem;
  position: relative;
}

#sign_up_form button {
  grid-column: 2;
}

@media screen and (max-width: 767px) {
  #sign_up_form .form_caption {
    grid-column: 2 / 3;
    margin-bottom: .5rem;
  }
}

@media screen and (min-width: 768px) {
  #sign_up_form {
    grid-template-columns: auto 40% 1fr;
    grid-gap: 1rem;
  }
}