@import url('https://fonts.googleapis.com/css?family=Roboto|Unica+One');

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100vh;
  background: #f6f6f6;
  color: #333;
}

* {
  box-sizing: border-box;
}

button, i {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body, input, textarea {
  font-family: 'Roboto', sans-serif;
}

ul, ol, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

a:hover {
  color: #990100; 
}

.app_name {
  color: #910000;
  font-weight: bold;  
}

.position_absolute {
  position: absolute;
}

.grid {
  display: grid;
}

.grid.grid_horizontal {
  grid-auto-flow: column;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.margin-top {
  margin-top: 1rem;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-top-75 {
  margin-top: .75rem;
}

.margin-right-75 {
  margin-right: .75rem;
}

.margin-bottom-75 {
  margin-bottom: .75rem;
}

.margin-left-75 {
  margin-left: .75rem;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.font_small {
  font-size: .80rem;
}

.font_large {
  font-size: 1.25rem;
}

.inline {
  display: inline;
}

.spacer_zero {
  height: 0;
}

.spacer_micro {
  height: .125rem;
}

.spacer_quarter {
  height: .25rem;
}

.spacer_half {
  height: .5rem;
}

.spacer {
  height: 1rem;
}

.span_2 {
  grid-column: span 2;
}

#main_container {
  width: 90%;
  min-height: 100%;
  max-width: 960px;
  margin: 0 auto;
  grid-template-rows: 80px auto 40px;
}

#page_contents {
  padding: 1rem .5rem;
  align-self: start;
  position: relative;
}

#page_contents h2.page_name {
  color: #333;
  padding-bottom: 1rem;
}

a, input, button {
  outline: none !important;
}

input {
  border-radius: 4px;
  border: 1px solid #333;
}

input:hover, input:focus {
  border-color: #b90504;
}

button {
  border: none;
  font-size: 1rem;
  padding: .25rem .5rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background: #b90504;
}

[data-title] {
  position: relative;
}

[data-title]:hover::after {
  background: #444;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: .75rem;
  color: #fff;
  padding: .25rem;
  border-radius: 4px;
  content: attr(data-title);
  display: block;
  left: 50%;
  transform: translateX(-50%);
}