span.tooltip > span.visible {
  cursor: pointer;
}

span.tooltip > span.visible:hover {
  color: #b90504;
}

span.tooltip > span.hidden {
  position: absolute;
  background: #b90504;
  color: #fff;
  padding: .25rem;
  white-space: nowrap;
}