<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
    <title>Zaloguj się | ToDoApp</title>
  </head>
  <body>
    <div class="grid" id="main_container">
      <popup></popup>
      <todo-header></todo-header>
      <div class="grid" id="page_contents">
        <h2>zaloguj się</h2>
        <form class="grid" id="login_form" @submit.prevent>
          <div>nazwa użytkownika</div>
          <input type="text" onkeypress="return handle_input(event, login_regex)" v-model="login" maxlength="24">
          <div>hasło</div>
          <input type="password" onkeypress="return handle_input(event, password_regex)" v-model="password" maxlength="32">
          <a class="block font_small" href="lost_pass.html">zapomniałem hasła</a>
          <input type="submit">
          <button @click="check_input">zaloguj się</button>
        </form>
        <div id="sign_up">
          <span class="font_small">nie masz konta?</span><br>
          <a class="font_large" href="sign_up.html">zarejestruj się</a>
        </div>
      </div>
      <todo-footer></todo-footer>
    </div>
  </body>
</html>