<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/sign_up.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="js/vue.min.js"></script>
    <script src="js/main.js"></script>
    <title>Zarejestruj się | ToDoApp</title>
  </head>
  <body>
    <div class="grid" id="main_container">
      <popup></popup>
      <todo-header></todo-header>
      <div class="grid" id="page_contents">
        <h2>zarejestruj się</h2>
        <form v-show="!sign_up_success" class="grid" id="sign_up_form" @submit.prevent>
          <div>nazwa użytkownika</div>
          <input type="text" @blur="input_blur" @focus="input_focus" class="sign_up_input" onkeypress="return handle_input(event, login_regex)" v-model="login" maxlength="24">
          <div class="form_caption">
            dozwolone znaki: litery, cyfry, podkreślnik i kropka<br>
            długość: 4-24 znaki
          </div>

          <div>hasło</div>
          <input type="password" @blur="input_blur" @focus="input_focus" class="sign_up_input" onkeypress="return handle_input(event, password_regex)" v-model="password" maxlength="32">
          <div class="form_caption">
            dozwolone znaki: litery, cyfry, <tooltip hidden-contents="Znaki: ~`!@#$%^&*()_-+=" contents="symbole specjalne*"></tooltip><br>
            długość: 6-32 znaki
          </div>
          <div>powtórz hasło</div>
          <input type="password" @blur="input_blur" @focus="input_focus" class="sign_up_input" onkeypress="return handle_input(event, password_regex)" v-model="password_cp" maxlength="32">
          <div class="form_caption">powtórz wyżej wprowadzone hasło</div>

          <div>e-mail</div>
          <input maxlength="64" type="text" @blur="input_blur" @focus="input_focus" class="sign_up_input" onkeypress="return handle_input(event, mail_regex)" v-model="mail">
          <div class="form_caption">na podany adres zostanie wysłany link aktywacyjny</div>

          <button class="justify-self-end" @click="check_sign_up_form">zarejestruj się</button>
        </form>
        <div v-show="sign_up_success">
          Gratulacje! Proces rejestracji Twojego konta w aplikacji <span class="app_name">todoapp</span> przebiegł pomyślnie.<br>
          Użyj linku z wiadomości wysłanej na podany adres e-mail, aby w pełni skorzystać z licznych funkcjonalności strony.
        </div>
      </div>
      <todo-footer></todo-footer>
    </div>
  </body>
</html>