.login-signin {
  grid-template-columns: 1fr 1fr;
}

.login-form {
  display: grid;
  grid-row-gap: .5rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-column: 1 / 2;
}

.login-form input {
  width: 100%;
  font-size: 17px;
  padding: .25rem;
}

.login-form > .form-field {
  grid-column: 1 / span 2;
}

a#resetPassBtn {
  grid-column: 1;
  align-self: end;
}

a.btn-toggle {
  align-self: start;
  justify-self: end;
  text-align: right;
  grid-column: 2;
}

button.btn-action {
  padding: .5rem;
  grid-column: 2;
  justify-self: end;
}

@media screen and (max-width: 767px) {
  .login-form {
    grid-column: span 2;
  }
}